@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    /* font-size: 20px;
    text-align: center;
    margin: 20px 0;
    font-weight: bold; */
}

h2 {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    visibility: hidden;
}

section {
    width: 600px;
    height: auto;
    margin: 60px auto;
    overflow: auto;
}

.column {
    width: 44%;
    padding: 20px;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: border-box;
    float: left;
    background-color: #eee;
}

.letter {
    border-bottom: 1px solid grey;
    margin-right: 4px;
    width: 12px;
    display: inline-block;
    font-size: 0;
    line-height: 0.7em;
}

.letter:last-of-type {
    margin-right: 0;
}